body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* THEME OVERRIDE */
.bg-dark {
  background-color: black !important;
  color: white !important;
}
.bg-light {
  background-color: white !important;
  color: grey !important;
}

/* FIXME: You can use this css code to get gutterless grid in bootstrap. */
.container-fluid.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}